body {
	background-color:beige;
}

.sober {
	background-image: url(JAG1.jpg);
	background-size: cover;
	width: 145px;
	height: 145px;
	border-color: Yellow;
	border-width: thick;
	margin-right: 8px;
	margin-bottom: 10px;
	
}
.sober:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.drunk{
	background-image: url(JAG2.jpg);
	background-size: cover;
	width: 145px;
	height: 145px;
	border-color: black;
	border-width: thick;
	margin-right: 8px;
	margin-bottom: 10px;
}
.drunk:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.testclass{
	background-color: beige;
	width: 145px;
	height: 145px;
	margin-right: 8px;
	margin-bottom: 10px;
	
}
.testclass:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Timer{
	width: 100px;

}
#leftbox{
	float: left;
	width: 10%;
}
#middlebox{
	float: left;
	width: 65%;
}
#rightbox{
	background-color: white;
	font-size: 26px;
	border: solid;
	border-color: grey;
	border-width: thin;
	width: 24%;
	float: left;
}
.winpopup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border-radius: 10px;
	z-index: 10;
	background-image: url(Chalkboard.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 500px;
	height: 400px;
	max-width: 80%;
	max-height: 80%;
}
.winpopup.active {
	transform: translate(-50%, -50%) scale(1);
}

.winpopup-header {
	padding:  10px 15px;
	display: flex;
	justify-content: space-between;
}
.title {
	margin-left: 45%;
	position: relative;
}
.title {
	font-size: 1.25rem;
	font-weight: bold;
}
.winpopup-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.winpopup-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
	transition: 200ms ease-in-out
}
#overlay.active {
	pointer-events: all;
	opacity: 1;
}